@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap');

body {

}

header {
    background: #ffc244;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: #00a082;
    font-family: 'Neuton', serif;
    font-size: calc(2rem + 1.5vw);
}

header .links {
    display: flex;
    align-items: center;
}

header .links .auth a.no-link,
header .links .auth button.no-link
{
    margin-right: 10px;
    font-family: 'Neuton', serif;
    font-size: 20px;
    color: #00a082;
}

footer {
    background: #1d1d1d;
    padding: 30px 15px;
    color: white;
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

footer p {
    margin: 0;
    font-size: 20px;
    font-family: 'Neuton', serif;
}

p.errorMessage {
    color: red;
}

p.successMessage {
    color: lightgreen;
}

a.no-link {
    color: black;
    text-decoration: none;
}

a.no-link:hover {
    color: black;
}

button.btn {
    font-family: 'Neuton', serif;
}

button.btn.btn-success {
    background-color: #00a082;
    border-color: #00a082;
}

button.btn.btn-success:hover {
    background-color: #006b57;
    border-color: #006b57;
}

button.btn.btn-primary {
    color: black;
    background-color: #ffc244;
    border-color: #ffc244;
}

button.btn.btn-primary:hover {
    background-color: #e7ac3c;
    border-color: #e7ac3c;
}