.categories {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.categories__category {
    padding: 0;
    border: 0;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0.3;
}

.categories__category.selected {
    opacity: 1;
}

.categories__category h2 {
    font-family: 'Neuton', serif;
    font-weight: 700;
}

.productsContainer {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.product {
    width: 280px;
    width: 280px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.product img {
    width: 280px;
    height: 150px;
    object-fit: contain;
}

@media (max-width: 576px) {
    .categories {
        justify-content: space-between;
    }
}