.categories {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.categories__category {
    padding: 0;
    border: 0;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0.3;
}

.categories__category.selected {
    opacity: 1;
}

.categories__category h2 {
    font-family: 'Neuton', serif;
    font-weight: 700;
}

@media (max-width: 576px) {
    .categories {
        justify-content: space-between;
    }
}