.categories {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.categories__category {
    padding: 0;
    border: 0;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0.3;
}

.categories__category.selected {
    opacity: 1;
}

.categories__category h2 {
    font-family: 'Neuton', serif;
    font-weight: 700;
}

.productsContainer {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.product {
    width: 300px;
    padding: 10px;
}

.product img {
    width: 280px;
    height: 280px;
    object-fit: contain;
    border-radius: 20px;
}

.product h3 {
    font-family: 'Neuton', serif;
    margin: 10px 0;
}

.product p.description {
    color: gray;
    font-size: 12px;
}

.product .addToCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .addToCart button {
    font-family: 'Neuton';
    font-size: 20px;
    max-height: 50px;
}

.product .addToCart p.price {
    font-family: 'Neuton';
    font-size: 36px;
    line-height: 32px;
    margin: 0;
}
.product .addToCart p.price::before {
    content: '$';
}

@media (max-width: 576px) {
    .categories {
        justify-content: space-between;
    }
}