.signInPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 30px;
}

.signInPage h2 {
    font-family: 'Neuton', serif;
    margin-bottom: 20px;
}

.signInPage #resultMessage {
    height: 24px;
    line-height: 24px;
    margin-top: 8px;
}

@media (max-width: 576px) {
    form {
        width: 100%;
    }
}