<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>
<body>
<div th:insert="fragments/components :: header"></div>
<div>
    <label for="login">
        Login
        <input id="login" type="text"/>
    </label>
    <label for="password">
        Password
        <input id="password" type="password" />
    </label>
    <button type="button" onclick="signup()">Sign Up</button>
</div>
<p id="signupErrorMessage"></p>
<p>Already have account? <a th:href="@{/signin}">Sign In!</a></p>
<div th:insert="fragments/components :: footer"></div>
<script th:src="@{/js/signup.js}"></script>
</body>
</html>