<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DOSTAVOCHKA - sign in</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}"/>
</head>
<body>
<div th:insert="fragments/components :: header"></div>
<div>
    <label for="login">
        Login
        <input id="login" type="text"/>
    </label>
    <label for="password">
        Password
        <input id="password" type="password"/>
    </label>
    <button type="button" onclick="signin()">Sign In</button>
</div>
<p id="resultMessage"></p>
<p>Don`t have account? <a th:href="@{/signup}">Sign Up!</a></p>
<div th:insert="fragments/components :: footer"></div>
<script th:src="@{/js/signin.js}"></script>
</body>
</html>